* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 2.5vw;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  width: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 41px 4px rgba(0, 0, 0, 0.73);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 300ms;
}

.main-container a:hover, .project-link:hover {
  color: blue;
  transform: scale(102%);
}

p {
  margin: 2vw 0;
}

.section-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.image-container {
  margin-top: 2vw;
  transition: all ease 300ms;
}

.image-container img {
  width: 13vw;
  border-radius: 50%;
  border: 0.4vw solid rgb(0, 141, 151);
}

.image-container:hover {
  transform: rotate(5deg) scale(102%);
}

@keyframes project-container-animation {
  from { 
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projects-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation-name: project-container-animation;
  opacity: 0;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-delay: 100ms;
}

.box-container {
  display: flex;
  flex-direction: column;
}

.project-item {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 7vw 0;
  box-shadow: 0px 0px 41px 4px rgba(0, 0, 0, 0.73);
  border-radius: 5px;
}

.project-link-to-application {
  padding: 2vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project-title {
  margin-top: 2vw;
  font-size: 2.2vw;
}

.project-image img {
  width: 30vw;
  border-radius: 20px;
  transition: all 300ms;
}

.project-image img:hover {
  transform: scale(102%);
}

.line-break {
  width: 80%;
  height: 1px;
  background-color: black;
  margin: 1vw 0;
}

.project-description {
  margin: 0.5vw 5vw;
}

.project-description p {
  font-size: 1vw;
  font-style: italic;
  text-align: justify;
}

.project-link {
  font-size: 2vw;
  transition: all 300ms;
}

.description-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1vw;
}
